@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #000;
    font-family: 'Lato', sans-serif;
}
#headerBlock{
    position: relative;
    z-index: 1; 
}
#headerBlock article{
    height: 100px;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.logoBlock svg{
    width: 167px;
    height: 45px;
    fill: crimson;
    line-height: normal;
}
.logoBlock{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.authBlock {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.authBlock ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.authBlock ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    background-color: crimson;
    padding: 8px 15px;
    border-radius: 3px;
    letter-spacing: 1.2px;
}
#sliderBlock img {
    height:100%;
    width: 100%;
    object-fit: cover;
    
}
#sliderBlock{
    color: white;
    margin-top: -100px;
    background-image: url("../images/IN-en-20201214-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    box-shadow: 40px 38px 136px 74px inset #111;
}
#sliderBlock article{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#sliderBlock article h1{
    font-size: 65px;
    font-weight: bold;
    color: #fff;
}
#sliderBlock article h2{
    font-size: 26px;
    padding: 20px 0;
    font-weight: 400;
    color: #fff;
}
#sliderBlock article p {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 0;
}
#sliderBlock article .contentBlock {
    width: 950px;
}
#sliderBlock article .contentBlock form input {
    width: 70%;
    height: 70px;
    border: none;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    text-transform: capitalize;
}
#sliderBlock article .contentBlock form button {
    height: 70px;
    width: 29%;
    margin: 0;
    border: none;
    background: #e50914;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;

}
.contentBlock {
    width: 850px;
}
/*---Enjoy Block--*/
#enjoyBlock {
    width: 100%;
    height: 400%;
    background: #111;
}
#enjoyBlock article {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    align-items: center;
    background: #111;
    display: flex;

}
.enjoyLeftBlock {
    width: 50%;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.enjoyLeftBlock p{
    font-size: 1.625rem;
    font-weight: 400;
}
.enjoyRightBlock {
    width: 50%;
    position: relative;

}
.tv_image {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -235px;
    z-index: 1;
}
.tv_image image{
    width: 100%;
    position: relative;
    z-index: 2;

}
.tv_video video {
    position: absolute;
    top: -135px;
    left: 84px;
    width: 467px;
}
#mobileBlock {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
    height: 400%;
    background: #111;
}
#mobileBlock article {
    width: 100%;
    margin: 5px auto;
    height: 500px;
    align-items: center;
    display: flex;
    background-color: black;
}
.mobliLeftBlock{
    width: 50%;
}
.mobliRightBlock{
    width: 50%;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.mobliRightBlock h1{
    font-size: 5.645rem;
    font-weight: 400;
}
.mobileRightBlock p{
    font-size: 1.625rem;
    font-weight: 400;
}

#watchBlock {
    width: 100%;
    height: 400%;
    background: #111;
    
}
#watchBlock article {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    align-items: center;
    background-color: #111;
    display: flex;

}
.watchLeftBlock {
    width: 50%;
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.watchLeftBlock p{
    font-size: 1.625rem;
    font-weight: 400;
}
.watchRightBlock {
    width: 50%;
    position: relative;
}
.watch_image {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.watch_image image{
    width: 100%;
    position: relative;
    z-index: 2;
    top: 154px;
    left: -40px;
}
.watch_video video {
    position: absolute;
    top: 52px;
    left: 120px;
    width: 394px;
}
#questionBlock {
    width: 100%;
    height: 400%;
    background: #111;
}
#questionBlock article {
    width: 100%;
    margin: 5px auto;
    height: 500px;
    align-items: center;
    background-color: black;
    text-align: center;
}
.topBlock {
    width: 100%;
    height: 500%;
    background: #111;
}
.topBlock header{
    font-size: 33px;
    line-height: 1.3;
}
.topBlock main p {
    font-size: 20px;
}
.topBlock form input {
    width: 40%;
    height: 60px;
    border: none;
    border-radius: 3px;
    padding: 0px 10px;
    font-size: 16px;
    text-transform: capitalize;
}
.topBlock form button {
    height: 60px;
    width: 20%;
    margin: 0;
    border: none;
    background: #e50914;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
}
#contact {
    width: 100%;
    height: 400%;
    background: #111; 
}
#contact article{
    width: 100%;
    margin: 0px auto;
    height: 500px;
    align-items: center;
    background-color: black;
    text-align: center;
}
.contactBlock{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 90px;
    background-color: #111;
}
.contactBlock ul {
   list-style: none;
   display: flex;
}
.contactBlock ul li {
    text-decoration: none;
    padding: 0 20px;
    color: #eee;
    
 }
 .contactBlock span {
     position: relative;
 }
 .contactBlock span i {
     position: absolute;
     left: 20px;
 }